{% extends "layout.html" %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/error.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Error Occurred</h1>
            <span class="subheading">Oops! Something went wrong.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="error-details">
          <h2>Error Message:</h2>
          <p>{{ error }}</p>
          <p>Please try again later or contact support if the problem persists.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
